<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.khelenyuk.controller.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/jsp/error.jsp</location>
    </error-page>

    <filter>
        <filter-name>BlockUserFilter</filter-name>
        <filter-class>com.khelenyuk.controller.filter.BlockUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.khelenyuk.controller.filter.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.khelenyuk.controller.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.khelenyuk.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CacheControlFilter</filter-name>
        <filter-class>com.khelenyuk.controller.filter.CacheControlFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>BlockUserFilter</filter-name>
        <url-pattern>/jsp/pages/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <!--<dispatcher>INCLUDE</dispatcher>-->
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/jsp/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/jsp/pages/*</url-pattern>
    </filter-mapping>


</web-app>
